.header__link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  z-index: 4;
  transition: opacity .5s ease-in 0s;
}

.header__link:hover {
  text-decoration: none;
  opacity: .5;
}