.khan__buy-link {
    margin: 0 0 0 48px;
    font-size: 30px;
    line-height: 42px;
    color: #2f80ed;
    text-decoration: none;
    align-self: flex-start;
    transition: opacity .5s ease-in 0s;
}

.khan__buy-link:hover {
    text-decoration: none;
    opacity: .5;
}